@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: grey;
}

h1,h3, h2,h4,p, a {
  color: white;
  text-decoration: none;
}

h1:hover{
  color: rgb(202, 191, 169);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

ul {
  list-style: none;
}